body{
    background-color: rgb(241, 242, 246);
}
.removable_tag .close{font-size: 12px;}
.edittag-input{width: 80px;}
#top-tag-filter .badge{cursor: pointer;}

/*#main-pane .done {background-color: rgb(241, 242, 246);}*/
#main-pane .done .todo-text{text-decoration: line-through; color: #999;}
/*#main-pane .panel{margin-bottom: 0;}
#main-pane .list-group{border-top-left-radius: 0; border-top-right-radius:0;}
#main-pane .list-group .list-group-item:first-child{border-top-left-radius: 0; border-top-right-radius:0;}*/
#main-pane .list-group .list-group-item-heading{line-height: 36px;}
#main-pane .list-group .list-group-item-text .tag.addtag{cursor: pointer;}
#main-pane .list-group .list-group-item-text .remove{cursor: pointer;}